<%- include("partials/head.ejs") %>
<%- include("partials/header.ejs") %>

<p>The secret word is: <%= secretWord %></p>
<p>Would you like to change it?</p>

<% if (errors && errors.length) { %>
  <ul>
    <% errors.forEach(err => { %>
      <li style="color:red;"><%= err %></li>
    <% }) %>
  </ul>
<% } %>

<% if (info && info.length) { %>
  <ul>
    <% info.forEach(msg => { %>
      <li style="color:green;"><%= msg %></li>
    <% }) %>
  </ul>
<% } %>

<form method="POST" action="/secretWord">
    <label for="secretWord">Enter new secret word:</label>
    <input name="secretWord" id="secretWord" /><br />
    <button>Submit</button>
</form>

<%- include("partials/footer.ejs") %>
